{% extends 'tickets/index.html' %}

{% block content %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <h3>Próximos almoços:</h3>
    <ul>
        {% for almoco in almocos %}
            <li>{{ almoco.data_almoco }} ({{ almoco.tickets_comprados }}/{{ almoco.num_tickets }} tickets):
                <a href="{% url 'detalhe_almoco' almoco.id %}">Detalhes</a><br>
            <a href="{% url 'comprar_ticket' almoco.id %}" class="btn btn-outline-success btn-sm">Comprar Ticket</a><p>
            </li>
        {% endfor %}
    </ul>


{% endblock %}