{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <title>RuJabuka</title>
</head>
<body>

    <div class="container-fluid">

        <div class="row">
            <div class="col-6 border text-center" id="divTitle">
                <h1>Título</h1>
            </div>
            <div class="col-6 border text-right" id="divUser">
                {% if user.is_authenticated %}
                   <h4>{{ user.perfil.nome }}</h4>
                    <h6>Saldo: R$ {{ user.perfil.saldo }}</h6>
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% block content_base %}
            {% endblock %}
        </div>

    </div>

</body>

{% block index %}
{% endblock %}