{% extends 'tickets/index.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <b>Data do almoço:</b> {{ almoco.data_almoco }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <b>Tickets comprados:</b> {{ almoco.tickets_comprados }}/{{ almoco.num_tickets }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <b>Cardápio:</b> {{ almoco.cardapio|linebreaks }}
    </div>
</div>

<div class="row">
    <div class="col-12">
        <a href="{% url 'ver_almocos' %}" class="btn btn-sm btn-outline-danger">Voltar</a>
    </div>
</div>





{% endblock %}