{% extends 'tickets/base.html' %}

{% block content_base %}

    {% if user.is_authenticated %}
            <div class="col-lg-1 border" id="divMenu">
                <div class="row">
                    <a href="{% url 'ver_almocos' %}" class="btn btn-outline-dark btn-sm w-100">
                        Almoços
                    </a>
                </div>
                <div class="row">
                    <a href="{% url 'meus_tickets' %}" class="btn btn-outline-dark btn-sm w-100">
                        Meus Tickets
                    </a>
                </div>
                <div class="row">
                    <a href="#" class="btn btn-outline-dark btn-sm w-100">Menu 3</a>
                </div>
                <div class="row">
                    <a href="#" class="btn btn-outline-dark btn-sm w-100">Menu 4</a>
                </div>
                <div class="row">
                    <a href="#" class="btn btn-outline-dark btn-sm w-100">Menu 5</a>
                </div>
                <div class="row">
                    <a href="{% url 'logout' %}" class="btn btn-outline-dark btn-sm w-100">Logout</a>
                </div>
            </div>
            <div class="col-lg-11 p-3 border" id="divContent">
                {% block content %}
                {% endblock %}
            </div>


{% endif %}



{% endblock %}