{% extends "tickets/base.html" %}

{% block content_base %}
<div class="container w-25 pt-5">
    <form class="form-signin" role="form" action="#" method="post">
        {% csrf_token %}

        <h3 class="form-signin-heading">Cadastre seu Perfil:</h3>

        <input type="text" id="id_name" name="name" class="form-control" placeholder="Nome Completo" required autofocus>
        <br>
        <input type="text" id="id_cpf" name="cpf" class="form-control" placeholder="CPF (somente números)" required>
        <br>
        <label>Vínculo com a FCAV: </label><br>
        <select name="categoria" id="id_categoria" multiple="multiple">
            {% for categoria in categorias %}
            <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
            {% endfor %}
        </select>
        <p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Registrar">Registrar</button>

    </form>
</div>
{% endblock %}