{% extends "tickets/base.html" %}

{% block content_base %}
<div class="container w-25 pt-5">
    <form class="form-signin" role="form" action="{% url 'registrar_user' %}" method="post">
        {% csrf_token %}

        <h3 class="form-signin-heading">Registre-se:</h3>

        <input type="text" id="id_username" name="username" class="form-control" placeholder="Nome de usuário" required autofocus>
        <br>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Senha" required>
        <br>
        <input type="email" id="id_email" name="email" class="form-control" placeholder="E-mail" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Registrar">Registrar</button>

    </form>
</div>
{% endblock %}