{% extends 'tickets/index.html' %}

{% block content %}


        {% if tickets %}
        <ul>
            <h3>Meus tickets:</h3>
            {% for ticket in tickets %}
                <li>{{ ticket.almoco }}: <a href="#">Detalhes</a><br>
                <a href="{% url 'vender_ticket' ticket.id %}" class="btn btn-outline-danger btn-sm">Vender Ticket</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            Nenhum ticket ativo!
        {% endif %}



{% endblock %}